<h1 class="text-uppercase fw-bold"><%= t("categories") %></h1>
<ul class="categories_nav">
  <ul class="categories_nav-item-1"><%= t("male") %>
    <li class="categories_nav-item-2">Ao so mi</li>
    <li class="categories_nav-item-2">Ao ba lo</li>
    <li class="categories_nav-item-2">Ao T-Shirt</li>
    <li class="categories_nav-item-2">Quan au</li>
    <li class="categories_nav-item-2">Ao polo</li>
  </ul>
  <ul class="categories_nav-item-1"><%= t("female") %>
    <li class="categories_nav-item-2">Ao so mi</li>
    <li class="categories_nav-item-2">Chan vay</li>
    <li class="categories_nav-item-2">Ao T-Shirt</li>
    <li class="categories_nav-item-2">Quan Jean</li>
    <li class="categories_nav-item-2">Ao polo</li>
  </ul>
</ul>